

log_dir: '../log/SUN.log'
dataset_root: '../dataset'
dataset_name: 'SUN'
writer_path: '../runs/SUN'
device: 'cuda:1'
k_cluster: 3
backbone: resnet101
epoch: 100

anchor: False
dist_injection: True
pred_mode: 'fusion'
wo_ref: 'False'

lambda_cls_loss: 1.0
lambda_inter_loss: 0.1
lambda_intra_loss: 1.0
lambda_project_loss: 1.0


train_batch_size: 256
test_batch_size: 512
semantic_temperature: 0.05
visual_temperature: 0.05
num_workers: 8
manual_seed: 888

optimizer: 'RMSProp'
momentum: 0.05
weight_decay: 0.0001
lr: 0.0002
swa_lr: 0.000001
swa_annealing_epoch: 100
scale: 30.0

visual_feat_num: 2048
semantic_feat_num: 102
trans_feat_num: 2048
